*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
    font-family: "Oswald";
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
}

.bg{
    background-image: url(./image/bgimage1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    flex-basis: 100vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    position: absolute;
    top: 35vh;
    left: 20vw;
    font-size: 60px;
    color: white;
    text-shadow: 10px 10px 10px black;
}
